header{
    width:100%;
}

header img{
    width: 100%;
    height: 12.5rem;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.188rem;
    padding: 0 0;
}

nav ul li{
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
}

nav ul li a{
    flex-basis: 100%;
    padding: 0.313rem 0;
}

main{
    display: flex;
    flex-wrap: nowrap;
}

main div{
    flex-basis: 70%;
    padding-right: 10%;
    padding-left: 0.625rem;
}

main div article img{
    width: 30%;
    padding-right: 2%;
}

main section{
    flex-basis: 70%;
    padding-right: 5%;
    padding-left: 0.625rem;
}

main aside{
    flex-basis: 20%;
    height: 25rem;
    flex-grow: 1;
    margin-top: 3.75rem;
    margin-right: 1.25rem;
    margin-bottom: 8%;
}

h3{
    margin: 2%;
}

h3, aside img{
    margin: 2%;
}

main aside p{
    margin-left: 2%
}

footer{
    padding: 0.625rem;
    margin-top: 0.313rem;
}

@media screen and (max-width: 700px) {
    body,nav ul,main{
        display: block;
    }
}