header{
    width:100%;
}

header > img{
    width: 100%;
    height: 12.5rem;
}

nav ul:nth-child(1){
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.188rem;
    margin-bottom: 0.063rem;
    padding: 0 0;
}

nav ul:nth-child(1) li{
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
}

nav ul:nth-child(1) li a{
    flex-basis: 100%;
    padding: 0.313rem 0;
}

nav ul:nth-child(2){
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0;
    padding: 0 0;
}

nav ul:nth-child(2) li{
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
}

nav ul:nth-child(2) li a{
    flex-basis: 100%;
    padding: 0 0;
}

nav ul:nth-child(2) li a:hover{
    background-color: rgb(84, 84, 126);
    color: lightgoldenrodyellow;
}

main{
    display: flex;
    flex-wrap: nowrap;
}

main div{
    flex-basis: 70%;
    padding-right: 5%;
    padding-left: 0.625rem;
}

main div div > img{
    float: left;
    width: 20%;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

main div div:nth-child(1) p{
    padding-bottom: 5%;
}

main div div:nth-child(2) p{
    padding-bottom: 3%;
}

main div div:nth-child(3) p{
    padding-bottom: 26%;
}

main div div:nth-child(4) p{
    padding-bottom: 11%;
}

main div div:nth-child(5) p{
    padding-bottom: 46%;
}

main div div:nth-child(6) p{
    padding-bottom: 16%;
}

main div div:nth-child(7) p{
    padding-bottom: 18%;
}

main div div:nth-child(8) p{
    padding-bottom: 50%;
}

main div div:nth-child(9) p{
    padding-bottom: 35%;
}

main div div h4{
    padding-left: 0.625rem;
}

main div div p{
    padding-bottom: 2%;
}

main aside{
    flex-basis: 30%;
    height: 31.25rem;
    margin-bottom: 1%;
}

h3, aside img{
    margin: 2%;
}

main aside p{
    margin-left: 2%
}

footer{
    padding: 0.625rem;
    margin-top: 0.625rem;
}

@media screen and (max-width: 700px) {
    body,nav ul:nth-child(1),main{
        display: block;
    }
    nav ul:nth-child(2){
        display: none;
    }
}