body{
    background-color: #555;
}

nav{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: left;
}

nav ul:nth-child(1){
    border: 1px solid black;
}

nav ul:nth-child(1) li{
    list-style-type: none;
    text-align: center;
}

nav ul:nth-child(1) li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav ul:nth-child(1) li:nth-child(3) a{
    box-shadow: 0 3px 0 red;
}

nav ul:nth-child(1) li a:hover{
    background-color: #335;
    color: lightgoldenrodyellow;
}

nav ul:nth-child(2){
    border: 1px solid black;
}

nav ul:nth-child(2) li{
    list-style-type: none;
    text-align: center;
}

nav ul:nth-child(2) li a{
    background-color: rgb(99, 99, 99);
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav ul:nth-child(2) li a:hover{
    background-color: rgb(84, 84, 126);
    color: lightgoldenrodyellow;
}

main div div p{
    border-bottom: 1px solid red;
}

h4{
    color: rgb(212, 160, 62);
}

aside section h3{
    border-bottom: 1px solid rgb(124, 95, 95);
    color: rgb(170, 255, 0);
}

main aside{
    border: 1px solid black;
    border-radius: 20px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
}

section p{
    color:white;
}

footer{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: bottom;
}