body{
    background-color: #555;
}

nav{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: left;
}

nav ul{
    border: 1px solid black;
}

nav ul li{
    list-style-type: none;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav ul li:nth-child(4) a{
    box-shadow: 0 3px 0 red;
}

nav ul li a:hover{
    background-color: #335;
    color: lightgoldenrodyellow;
}

h2{
    color: rgb(212, 160, 62);
}

aside section h3{
    border-bottom: 1px solid rgb(124, 95, 95);
    color: rgb(170, 255, 0);
    margin: 2%;
}

aside section p{
    color: white;
}

main section ul{
    list-style-type: none;
    justify-content: center;
}

main section ul li h2{
    text-align: center;
}

main aside{
    border: 1px solid black;
    border-radius: 20px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
}

section p{
    color:rgb(214, 186, 186)
}

footer{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: bottom;
}