body{
    background-color: #555;
}

nav{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: left;
}

nav ul{
    border: 1px solid black;
}

nav ul li{
    list-style-type: none;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav ul li a:hover{
    background-color: #335;
    color: lightgoldenrodyellow;
}

nav ul li:nth-child(1) a{
    box-shadow: 0 3px 0 red;
}

main > section{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-radius: 10px; 
}

main section p a{
    text-decoration: none;
    color: cyan;
}

main > section h3{
    color: rgb(212, 160, 62);
}

main > section p{
    color: white;
}

main aside p{
    color: #fff;
}

main aside h3{
    color: rgb(170, 255, 0);
}

main aside{
    border: 1px solid black;
    border-radius: 20px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
}

footer{
    font-size: 15px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/856/757/175/anime-overlord-ainz-ooal-gown-hd-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: bottom;
    opacity: 90%;
    font-weight: bold;
    color: white;
    text-align: center;
}

section p{
    color:rgb(214, 186, 186)
}

h3{
    border-bottom: 1px solid rgb(124, 95, 95);
    margin: 2%;
}